<div class="container">
    <div class="row mt-4 ">
        <div class=" mat-display-3 mb-0 mx-auto"><span [class]="'theme-text-'+body" class="primary-underline ">&nbsp;&nbsp;About Us&nbsp;&nbsp;</span> </div>
    </div>
</div>
<div class="my-sm-2 px-4 ">
    
    <div class="row">
       
        
        <div class="col-sm-6 p-2 mx-auto">
            <div class="mat-display-1 mb-4  text-center"><span class="">&nbsp;&nbsp;Java Developer And Angular Developer&nbsp;&nbsp;</span> </div>
            <div class="mb-3"><img src="assets/homeSlider/Amy.jpg" class="rounded-circle mx-auto d-block" alt="Profile Pic" width="300px"></div>
             
             <div class="mat-title text-center">
                    <span > <strong> Name : Amol Bharsakle (Java Developer)</strong></span><br>
                    <span >  <strong> Programming Language : Java</strong></span><br>
                    <span >  <strong>Frontend Technology : Angular with( HTML5, CSS3, Javascript)</strong></span><br>
                 I have been working with one of the startup in pune and also done remote work for client as a freelancer.
                I am a Java web developer and can create a best device responsive 
                 website with a best user interface that can be run on any browser perfectly.  During creation of the Website, we test the 
                 application with multiple testing methods to make your  website/application better.
             </div>
        </div>
        
    </div>
</div>
<!------- My Team ---------->
<div class="container my-sm-2 p-md-4 px-2 ">
    <div class=" mat-display-3  text-center"><span class="primary-underline">&nbsp;&nbsp;My Team&nbsp;&nbsp;</span> </div>
    <div class="row my-1 px-2">
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Aakash Satpute</mat-card-title>
                <mat-card-subtitle>Back End developer <strong>Java</strong></mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/akash.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Aakash has a proficiency in backend development with java and he has a good understanding of Relational Database</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/er.akash_27/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/akash.satpute.397" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
                
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Anurag Thakur</mat-card-title>
                <mat-card-subtitle>Cyber Security Expert <strong>CH10</strong></mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/anurag.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Anurag test our application by applying various test cases and ensure that our application is not vulnerable.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/er.akash_27/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/anurag.thakur.58" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Harshal Choudhary</mat-card-title>
                <mat-card-subtitle>Full Stack Developer <strong>Java & .Net</strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/harsahl.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Harshal is a .Net back end developer and has a good understanding of the full application development process.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/harshalchoudhary1/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/harshal.choudhary.161/" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row my-1 px-2">
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Himanshu Nikam</mat-card-title>
                <mat-card-subtitle>UX Developer  <strong>Logo & Responsive Design</strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/himanshu.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Himanshu dreates unique and best responsive User Interface and also makes meaningful logos for application.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/himanshu_nikam_/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/prince.himanshu.3958" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Manish Mendhekar</mat-card-title>
                <mat-card-subtitle>Back End Developer <strong>Java & Python</strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/manish.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Manish is very good in algorithms and data structure Also he is a Java Developer and Python developer.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/er.___beliver___/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/nikhil.wani.716" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="e" target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Praful Mahajan</mat-card-title>
                <mat-card-subtitle>Digital Marketing Expert <strong>ATES Certified </strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/praful.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Praful is very good in Digital marketing, and provide us help to rank our website and grow our business digitally.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/mahajan_praful/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/praful.mahajan.7" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row my-1 px-2">
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 px-2">
            <mat-card>
                <mat-card-title>Ravindra Shinde</mat-card-title>
                <mat-card-subtitle>Front & Back end Developer <strong>Angular, Java, MySQL</strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/ravi.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Ravindra Sginde is expert in UI development and also good in backend development and Database management.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/ravishinde1998/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/profile.php?id=100008282505054" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 p-md-5 p-2">
            <mat-card>
                <mat-card-title>Shubham Shivhare</mat-card-title>
                <mat-card-subtitle>Front & Back end Developer <strong>Angular, .Net</strong> </mat-card-subtitle>
                    <img mat-card-image src="assets/profiles/shubham.png" class="rounded" alt="Profile Pic" width="100%">
                <hr>
                <mat-card-content>Shubham Shivhare has a proeficinecy in .net programming language as well as in User Interface with Angular js.</mat-card-content>
                <mat-card-actions > 
                    <div class="row text-center">
                        <div class="col-4"><button mat-icon-button><a href="https://www.instagram.com/shivhare3303/" target="_blank"><i class="fab fa-instagram"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a href="https://www.facebook.com/shubham.shivhare.9085" target="_blank"><i class="fab fa-facebook-f"></i> </a></button></div>
                        <div class="col-4"><button mat-icon-button ><a  target="_blank"><i class="fab fa-linkedin"></i> </a></button></div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
