<div class="container mb-5">
    <div class="row justify-content-center m-4">
        <div class=" mat-display-3 "><span [class]="'theme-text-'+body" class="primary-underline ">&nbsp;&nbsp;Our Work&nbsp;&nbsp;</span> </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="mat-display-2 mb-2">Nabapravat.com</div>    
    <div class="row mb-3">
        <div class="col-sm-4">
           <div class="row">
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(3)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(4)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(5)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(6)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(7)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showNaba(8)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
           </div>
        </div>
        <div class="col-sm-8">
            <img class="rounded img-thumbnail" [src]="nabapravat" width="100%" >
        </div>
    </div>
    <hr>
    </div>
    <!------------------------------------------------>
   <div class="container-fluid mb-5">
    <div class="mat-display-2 mb-2">MySoulemate.com</div>    
    <div class="row mb-3">
        <div class="col-sm-8">
            <img class="rounded img-thumbnail" [src]="mysoulemate" width="100%" >
        </div>
        <div class="col-sm-4">
           <div class="row">
               <div class="col-2 col-sm-6 p-2">  <img mat-ripple (click)="showMyso(3)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showMyso(4)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showMyso(5)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showMyso(6)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showMyso(7)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showMyso(8)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
           </div>
        </div>
    </div>
    <hr>
   </div>
   <!------------------------------------------------>
   <div class="container-fluid mb-5">
    <div class="mat-display-2 mb-2">MarketRuller.com</div>    
    <div class="row mb-3">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-2 col-sm-6 p-2">  <img mat-ripple (click)="showMR(3)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
                <div class="col-2 col-sm-6 p-2">  <img (click)="showMR(4)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
                <div class="col-2 col-sm-6 p-2">  <img (click)="showMR(5)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
                <div class="col-2 col-sm-6 p-2">  <img (click)="showMR(6)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
                <div class="col-2 col-sm-6 p-2">  <img (click)="showMR(7)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
                <div class="col-2 col-sm-6 p-2">  <img (click)="showMR(8)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
            </div>
         </div>
        <div class="col-sm-8">
            <img class="rounded img-thumbnail" [src]="marketruller" width="100%" >
        </div>
       
    </div>
    <hr>
   </div>
   <!------------------------------------------------>
   <div class="container-fluid mb-5">
    <div class="mat-display-2 mb-2">Contentwriter.com</div>    
    <div class="row mb-3">
        <div class="col-sm-8">
            <img class="rounded img-thumbnail" [src]="contentWriter" width="100%" >
        </div>
        <div class="col-sm-4">
           <div class="row">
               <div class="col-2 col-sm-6 p-2">  <img mat-ripple (click)="showCW(3)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showCW(4)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showCW(5)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showCW(6)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showCW(7)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
               <div class="col-2 col-sm-6 p-2">  <img (click)="showCW(8)" class="rounded img-thumbnail" src="assets/homeSlider/3.png" width="100%" > </div>
           </div>
        </div>
    </div>
    <hr>
   </div>
</div>